/* Reset & base */

body {
    margin: 0;
    padding: 20px;
    background-color: black;
    color: seagreen;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Container */
#app {
    max-width: 600px;
    margin: 0;
    text-align: center;
}

/* Password displays */
.password {
    background-color: #222;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
    /* This ensures long passwords don't overflow */
    word-break: break-all;
}

/* Button */
#generate {
    background-color: seagreen;
    color: #222;
    border: none;
    padding: 10px 20px;
    font-family: monospace;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}